.title-text{
    text-align: center;
    /* font-family: 'Brandon Grotesque Bold', sans-serif; */
    
}
.jumbotron{
  height: 100vh;
  background-image: url("Images/Cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  

  
  color: #f0f8ff;
}

#education{
  background-color: #B1B2B4;
  background-attachment: fixed;
}