.titleGroup{
    position: absolute;
    color: aliceblue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.banner{
  background-image: url("Images/Cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  color: aliceblue;
}

body{
  margin: 0px;
  height: 100%;
  font-family:cursive;
}
h2{
  margin: 0px;
}
h1{
  margin: 0px;
}
html{
    height: 100%;
}
.companyLogo{
    height: 100px;
    width: 100px;
    display:inline-block;
}
.companyInfo{
  display: inline-block;
}