.title-text{
    text-align: center;
    /* font-family: 'Brandon Grotesque Bold', sans-serif; */
    
}
.jumbotron{
  height: 100vh;
  background-image: url("Images/Cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  

  
  color: aliceblue;
}

body{
  height: 100%;
}

html{
    height: 100%;
}
.companyLogo{
    height: 20%;
    width: 20%;
    float: left;
    margin: 30px;
    }
.companyInfo{
  width: 50%;
  margin: auto;
}
/* .hero{
  font-size: 5rem;
  margin: 0;
  
}
.subHero{
  font-size: 3rem;
  margin: 0;
  
} */
